.divJumbotron {
    /* background-image: url('./jumbotron.jpeg')!important; */
    /* background-image: url('background-texture.jpg'),linear-gradient(to bottom,#5fd4a8 0%, #eedc9b 100%) ; */
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: 100% 100%;
    height: 25vh;
}

.divBack {
    /* background-image: linear-gradient(to bottom,#141e30 0%,  #243b55 100%) ; */
    background-image: url('../coronavirus.jpg')!important;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: 100% 100%;
}